Day5/DoublesAndMocking/TFSBlog/TBlogServiceClient/Service References/TBlogServiceReference/TBlog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/TBlog?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TBlogService.Models" />
  <xs:element name="GetBlogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TBlogService.Models" minOccurs="0" name="GetBlogsResult" nillable="true" type="q1:ArrayOfBlog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>