Day5/DoublesAndMocking/TFSBlog/TBlogServiceClient/Service References/TBlogServiceReference/TBlog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TBlogService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TBlogService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBlog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Blog" nillable="true" type="tns:Blog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlog" nillable="true" type="tns:ArrayOfBlog" />
  <xs:complexType name="Blog">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blog" nillable="true" type="tns:Blog" />
</xs:schema>